.mk-navbar{
	background: #b3c6ff !important;
}
.mk-tombol_about{
	background: #e6ecff !important;
}
.mk-main{
	padding: 100px;
	padding-top: 10px;
}
.mk-jumbotron{
	background: #e6ecff !important;
}
.m