.mk-navbar{
	background: #b3c6ff !important;
}
.mk-tombol_about{
	background: #d9d9d9 !important;
	color: black !important;
}
.mk-main{
	padding: 100px;
	padding-top: 10px;
}
.mk-jumbotron{
	background: #e6e6e6 !important;
}
.m